{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <h1>Vacatures overview</h1>
    {% if vacatures|length == 0 %}
        <h3>Geen vacatures</h3>
    {% endif %}
    <ul>
        {% for vacature in vacatures %}
            <li>{{ vacature.titel }}</li>
            <input type="submit" name="btnSubmit" value="Verwijderen">

        {% endfor %}
    </ul>
{% endblock %}