{% extends 'base.html.twig' %}

{% block title %}Sollicitaties{% endblock %}

{% block body %}

    <h1> Sollicitaties voor de functie </h1>

    {% if sollicitaties|length == 0 %}
        <h3>Geen sollicitaties</h3>
    {% endif %}
    <ul>
        {% for sollicitatie in sollicitaties %}
            <li></li>
            <input type="button" onclick="" value="Bekijken" />

        {% endfor %}
    </ul>
    
{% endblock %}
