{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <h1>Vacatures overview</h1>
    {% if vacatures|length == 0 %}
        <h3>Geen vacatures</h3>
    {% endif %}
    <ul>
        {% for vacature in vacatures %}
            <li>{{ vacature.titel }}: {{ vacature.omschrijving }}</li>
            <input type="button" onclick="" value="Bewerken" />
            <input type="button" onclick="" value="Verwijderen" />
            <input type="button" onclick="" value="Sollicitanten bekijken" />

        {% endfor %}
    </ul>
{% endblock %}