{% extends 'base.html.twig' %}

{% block title %}Sollicitaties{% endblock %}

{% block body %}

    <h1> Sollicitaties voor de functie </h1>

    {% if sollicitaties|length == 0 %}
        <h3>Geen sollicitaties</h3>
    {% endif %}
    <ul>
        {% for sollicitatie in sollicitaties %}
            <li>{{sollicitatie.user.voornaam}}{{sollicitatie.user.achternaam}}</li>
            <a style="text-decoration: none" href="/employer/uitnodigen/{{sollicitatie.id}}">
                <h3 style="background-color: grey; width:100px">Bekijken</h3>
            </a>
        {% endfor %}
    </ul>
    
{% endblock %}
