{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <h1>Vacatures overview</h1>
    {% if vacatures|length == 0 %}
        <h3>Geen vacatures</h3>
    {% endif %}
    <ul>
        {% for vacature in vacatures %}
            <li>{{ vacature.titel }}: {{ vacature.omschrijving }}</li>
            <a style="text-decoration: none" href="/employer/update/{{vacature.id}}">
                <h3 style="background-color: orange; border-radius:20px; width: 120px">Bewerken</h3>
            </a>

            <a style="text-decoration: none" href="/employer/sollicitaties/{{vacature.id}}">
                <h3 style="background-color: orange; border-radius:20px; width: 120px">Sollicitanten bekijken</h3>
            </a>

        {% endfor %}
    </ul>
{% endblock %}