{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
{% for vacature in vacatures %}
            <h2>{{ vacature.titel }}</h2> 
            <p>{{ vacature.omschrijving }}</p>

            <a style="text-decoration: none" href="/vacature/show/{{vacature.id}}">
                <h3 style="background-color: orange; border-radius:20px; width: 120px">Bekijken</h3>
            </a>

        {% endfor %}
{% endblock %}
