{% extends 'base.html.twig' %}

{% block title %}Hello VacatureController!{% endblock %}

{% block body %}
    <h1>{{ vacature.titel }}<h2>
    <p>{{vacature.omschrijving}}<p>
    
    <p><input type="button" onclick="" value="Solliciteer direct!" /></p>

{% endblock %}
