{% extends 'base.html.twig' %}

{% block title %}Hello CandidateController!{% endblock %}

{% block body %}
{% for sollicitatie in sollicitaties %}
            <p>{{ sollicitatie.vacature.datum }}, {{ sollicitatie.vacature.titel }}, 
            {{ sollicitatie.user.bedrijf }}, {{ sollicitatie.uitgenodigd }} </p>
            

        {% endfor %}
{% endblock %}
